[Unit]
Description=Choria NATS Stream Replicator for Topic %I
After=network.target

[Service]
StandardOutput=syslog
StandardError=syslog
User=nobody
Group=nobody
ExecStart={{cpkg_bindir}}/{{cpkg_name}} replicate --config={{cpkg_etcdir}}/sr.yaml --topic=%i

[Install]
WantedBy=multi-user.target
